---
permalink: /404.html
---
<!DOCTYPE html>
<html>
{% capture metaDesc %}The resource you visited could not be found.{% endcapture %}
  {% include head.html cattitle="404" metaDesc=metaDesc notArticle=true%}
  <body>
    {% include nav.html %}
    <div id="mirrors">
      <div class="spacing hidden-xs"></div>
      <div class="container">
        <div class="row">
          <div class="not-found">
            {% if site.meow_404 %}
              <div class="not-found-bg"></div>
            {% endif %}
            <div class="not-found-hint">
              <div class="not-found-code">
              404 NOT FOUND
              </div>
            </div>
            <div class="not-found-links">
              <a class="not-found-link" href="javascript:history.back()">
              {% fa_svg fas.fa-arrow-left %} 返回上一页
              </a>
              <a class="not-found-link" href="/">
              Mirror List {% fa_svg fas.fa-arrow-right %}
              </a>
            </div>
          </div>
        </div>
      </div><!--/container -->
    </div><!--/mirrors -->
    {% include footer.html %}
  </body>
</html>