{% for footer-i in (1..2) %}
{% unless page.legacy and footer-i == 1 %}
<div id="footerwrap" class="tuna-foot-{{ footer-i }}"{% if page.legacy %} style="visibility: visible;"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        <p class="thuhidden">本站由MITS运行维护。</p>
        {% if site.footnote %}
        <p class="thuhidden">{{ site.footnote }}</p>
        {% endif %}
      </div>
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        {% if site.sponsor %}
        <h4>Sponsor</h4>
        {% endif %}
        <div class="img-responsive thuhidden">
        </div>
      </div>
  </div>
</div>
</div>
{% endunless %}
{% endfor %}
